/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target-path = "/";
        __overlay__ {
            fan_ext_board: gpio-fan {
                compatible = "gpio-fan";
                #cooling-cells = <2>;
                gpios = <&gpio3 0 1>;
                gpio-fan,speed-map = <0   0
					 9000 1>;
            };
        };
    };
    fragment@1 {
        target = <&cpu_thermal>;
        __overlay__ {
            cooling-maps {
                map0 {
                    trip = <&cpu_alert1>;
                    cooling-device = <&fan_ext_board 0 1>;
                };
            };
        };
    };
};
